<h2>内容管理系统</h2>
<ul>
  <% @records.each do |page| %>
    <li>
      <%= link_to page.permalink, page_path(page) %>
      [<%= link_to '编辑',edit_page_path(page) %>]
      :<%= page.title %>
    </li>
  <% end %>
  <div class="digg_pagination">
    <%= will_paginate @records %>
  </div>
</ul>
<br />
<%= link_to '新增主题', new_page_path %>

<p>
<img src="/images/rand_img/<%= @random_image %>">

