
<h2><%#= "#{@page.title}" %></h2>


<h2><%=h @record.title %></h2>

<p>
  <%= @record.body %>
</p>


<p>

  <%= link_to "Edit", edit_page_path(@record) %> |


  <%= link_to "Destroy", @record, :confirm => 'Are you sure?', :method => :delete %> |


  <%= link_to "View All", pages_path %>

</p>







